 <div class="user-details">
  <h1> Welcome Aboard </h1>
  <p> {{site.user_description}} </p>
  <br /><br /><img alt="平沙岛" src="{{ "/assets/img/平沙岛.png" | prepend: site.baseurl }}" width="950" height="350"/><br /><br />
 </div>
  <div class="user">
    {% include dec1.html %}
    <div class="tech">
      <a href="/学习/study.html" target="_blank"><h2>博观</h2></a>
      <!-- <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-c-plain-wordmark"></i>
      <i class="devicon-pycharm-plain"></i>
      <i class="devicon-visualstudio-plain-wordmark"></i> -->
      <p>当你从书页上抬眼<br />  然后合上书本依然感觉到  <br />住在那片光里</p>
    </div>
    <div class="tech">
      <h2>万象</h2>
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>有人见尘埃<br />     有人见星辰     <br /></p>
    </div>
      <div class="tech">
      <h2>少年游</h2>
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>大地丰盈<br />     人间并不寂寥     <br /></p>
    </div>
</div>
