 <div class="user-details">
  <h1> Welcome Aboard </h1>
  <p> {{site.user_description}} </p>
  <br /><br /><img alt="平沙岛" src="{{ "/assets/img/平沙岛.png" | prepend: site.baseurl }}" width="965" height="370"/><br />
 </div>
  <div class="user">
    {% include dec1.html %}
    <style>
    a{
      text-decoration: none;
    }
    </style>
    <div class="tech">
      <!-- <p><br /></p><a href="/学习/study.html" target="_blank"><h2>博观</h2></a> -->
      <p><br /></p><a href="#博观" data-scroll><h2>博观</h2></a>
      <p><br />吹灭读书灯<br />一身都是月<br /></p>
    </div>
    <div class="tech">
      <p><br /></p><a href="#万象" data-scroll><h2>万象</h2></a>
      <p><br />有人见尘埃<br />有人见星辰<br /></p>
    </div>
      <div class="tech">
      <p><br /></p><a href="#少年游" data-scroll><h2>少年游&nbsp;&nbsp;&nbsp;&nbsp;</h2></a>
      <p><br />大地丰盈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />人间并不寂寥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /></p>
    </div>
</div>
