 <div class="user-details">
  <h1> Welcome Aboard </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>学习</h2>
      <!-- <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-c-plain-wordmark"></i>
      <i class="devicon-pycharm-plain"></i>
      <i class="devicon-visualstudio-plain-wordmark"></i> -->
      <p>反正啥都有，感觉一些有意思的东西可能就放上来，要是长时间啥都没更新，说明我正在学习</p>
    </div>
    <div class="tech">
      <h2>生活</h2>
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>反正啥都有，感觉一些有意思的东西可能就放上来，要是长时间啥都没更新，说明我正在外边溜达</p>
    </div>
      <div class="tech">
      <h2>杂物堆</h2>
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>反正啥都有，感觉一些有意思的东西可能就放上来，要是长时间啥都没更新，那就不更新（不是</p>
    </div>
</div>
