<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" id="博观">
    <h3> 博观 </h3>
    <ul>
      <li> 博观而约取 厚积而薄发</li>
    </ul>
    <p>主要更新一些学习的所见所思所想，内容包括但不限于计算机、集成电路、人工智能等领域，权当是一种过程的记录。按时间先后以随性笔记为主要形式，暂不涉及学科知识系统整理。所有笔记均为个人感悟，不具有权威性，目的为督促及回顾，如内容有误欢迎指正。</p>
    <a class="project-link"  href="/博观/博观.html" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" id="万象">
    <h3> 万象 </h3>
    <ul>
      <li> 所以包罗万象 举一千从</li>
    </ul>
    <p>包罗万象不敢说，不过确实希望通过这个板块展现生活万象。日记、书本、经历、音乐、电影.....，媒介多样，主题多变，作为一些灵感的积累，或是一些现在看着无意义以后也无意义的单纯的记录，也许在以后的某一天能证明自己好好看过这个世界。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sunset.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" id="少年游">
    <h3> 少年游 </h3>
    <ul>
      <li> 欲买桂花同载酒 终不似 少年游</li>
    </ul>
    <p>这一段就比较简单了，日常<br />星河在上，波光在下，日升日落，流云晚霞</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
