<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" id="博观">
    <h3> 博观 </h3>
    <ul>
      <li> 博观而约取 厚积而薄发</li>
    </ul>
    <p>主要更新一些学习的所见所思所想，内容包括但不限于计算机、集成电路、人工智能等领域，权当是一种过程的记录。按时间先后以随性笔记为主要形式，暂不涉及学科知识系统整理。所有笔记均为个人学习感悟，不具有权威性，目的为督促个人学习及回顾，如内容有误欢迎指正。</p>
    <a class="project-link"  href="/博观/博观.html" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" id="万象">
    <h3> 万象 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sunset.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents" id="少年游">
    <h3> 少年游 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
